<!DOCTYPE html>
<html>
<head>
    <title>Sara Torrey</title>
    <link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
</head>
<body>
<div class="ui three column relaxed divided grid">
    <div class="ui fixed menu grey">
        <div class="ui container">
            <a class="header item" href="/">Home</a>
            <div class="right menu">
                <a class="item" href="/about">About</a>
                <a class="item" href="/portfolio">Portfolio</a>
                <a class="item" href="/blog">Blog</a>
                <a class="item" href="/contact">Contact</a>
            </div>
        </div>
    </div>
</div>
