<% include ./partials/header.ejs%>

<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

<div>
    <div class="container">
        <div id="about-title" class="ui raised very padded text container segment">
            <h2 class="item">Sara Torrey</h2>
            <div class="ui raised very padded segment">
                <img src="/images/Nursing-coding.jpg">
            </div>
            <div>
                <p>Creativity has always been a part of my life. Whether I wrote a piece of music, created art, or built a website or an application.</p>
                <p>
                    The artistic aspect of creating something new as well as giving it the life of its own have been my main driving forces.
                    The process of building something new that brings beauty, function, and help to an individual is my passion.
                    I care about the aesthetics of an app as well as the functionality of it. I am an artist and a builder through and through.
                </p>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs%>