<% include ./partials/header.ejs%>

<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
<div>
    <div class="container">
        <div id="about-title" class="ui raised very padded text container segment">
            <h2 class="item">How It All Began</h2>
            <p>
                I come from an unusual background. I have a bachelor's and a master's degree in vocal performance. I taught piano and voice for nearly 20 years until I decided to fully switch to tech in 2018 after my second son was born.
            </p>
            <p>
                I started designing a few websites for family businesses in fields of music and dentistry in 2013. I built these sites using Wix and SquareSpace.            After creating the websites and helping grow the businesses using ways to improve visibility with SEO I decided to give coding a try in 2016 after my first son was born.
                I watched a few tutorials and read books and articles on HTML5 and CSS3. I tried various projects to improve my CSS skills on CodePen.
                However, at that time I was also working on expanding my home music studio, and as a result my coding time reduced significantly.
            </p>
            <p>
                In summer of 2018 after several years of teaching privately from home and having over 30 students my second son was born.
                Due to various reasons I decided to go back to coding seriously in September. I brushed off on my HTML and CSS knowledge on FreeCodeCamp and started learning JavaScript.
                In October not exactly knowing what a hackathon is, I signed up to do a week-long virtual hackathon with MomsCanCode.
                This hackathon was designed to help moms learn and practice coding, and to work remotely in teams from all over the world. I joined a team of five other moms in 4 different time zones in the US and Europe.
                I was put in charge of the CSS for an app that helped individuals overcome imposer syndrome. We worked together for one week to set up our environment, get to know one another, and designate individual and group tasks.
                On Monday of the second week we started making the application using React, MongoDB, Mongoose, and we deployed it in Heroku. We used agile tools, such as Trello, GitHub, Forest App, KanBan, Zoom, Whereby, and BalsamIQ to communicate and work together.
                Our app was presented on Friday and we won first prize.
            </p>
            <p>
                I met a lot of amazing and knowledgeable moms during the hackathon who became close friends of mine.
                These amazing women became the inspiration and the driving force that helped me continue my studies in becoming a developer.
                I finished my beginner Java course by Marcus Biel in April 2019, and completely my full-stack developer course by Colt Steele in July of 2019.
                I have used plain JavaScript, jQuery, Node.js, Express, Java, MongoDB, Mongoose, and React in my practices and projects.
                A full overview of my work can be found on my GitHub (github.com/saratorrey).
                I am always happy to share my experience with others and I joined in with three of my mom friends to create a podcast to help others get inspired to code.
                Our podcast is called Raising Code, which highlights our ups and downs in learning to code and raise our children at the same time
                (https://podcasts.apple.com/us/podcast/raising-code/id1463954568).
            </p>
        </div>
    </div>
</div>
<% include ./partials/footer.ejs%>
