<!DOCTPE html>
<html>

<head>
    <title>Sara Torrey Portfolio</title>
    <link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
</head>
<body>
    <div>
        <h1>Story of a Mom Transitioning from Music to Tech</h1>
        <a href="/about" class="ui big button">Follow My Journey</a>
    </div>
</body>
</html>