<!DOCTPE html>
<html>

<head>
    <title>Sara Torrey Portfolio</title>
    <link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
</head>
<body>
    <div>
        <div>
            <h1>Sara Torrey</h1>
        </div>
        <h3>(Musician) => ({Developer})</h3>
    </div>

    <br>
    <div>
        <a href="/about" class="ui grey button">About</a>
        <a href="/portfolio" class="ui grey button">Portfolio</a>
        <a href="/blog" class="ui grey button">Blog</a>
        <a href="/contact" class="ui grey button">Contact</a>
    </div>
</body>
</html>