<% include partials/header %>


<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Sara Torrey</h1>
            <p>Musician to Web Developer</p>
        </div>
    </header>

<% include partials/footer %>