<% include partials/header.ejs%>
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

<div>
    <div class="container">
        <div class="ui raised very padded text container segment">
            <h1>Projects</h1>
            <hr>
        <div>
            <h2>Node, JavaScript, EJS, HTML, CSS, SemanticUI</h2>
        </div>
        <div class="ui raised very padded segment">
            <h3>Campground Application</h3>
            <p>
                A simple app to document and share favorite campgrounds around the world.
                <br>
                <a href="https://dry-badlands-50059.herokuapp.com/">Live View</a>
                <br>
                <a href="https://github.com/SaraTorrey/star-camp">GitHub</a>
            </p>
            <h3>Recipe 5.0</h3>
            <p>
                Similar to the campground application in design and structure. This app allows individuals to share and see simple recipes made with only 5 ingredients.
                <br>
                <a href="https://github.com/SaraTorrey/recipe">GitHub</a>
            </p>
            <h3>Real Up</h3>
            <p>
                An app to help individuals overcome the feelings of imposter syndrome. This was a project for a virtual hackathon in collaboration with 5 other mom developers through Moms Can Code, in October of 2018.
                Our application won first place, and I was in charge of the CSS.
                <br>
                <a href="https://github.com/alteredco/RealUp">GitHub</a>
            </p>
        </div>
            <div>
                <h2>React</h2>
            </div>
            <div class="ui raised very padded segment">
                <h3>Musicard</h3>
                <p>
                    A simple game of chance. Winner is the player with the highest combined age of the instruments.
                <br>
                    <a href="https://github.com/SaraTorrey/musicard">GitHub</a>
                </p>
            </div>
                <h1>Community</h1>
                <hr>
                <div>
                    <h2>Podcast</h2>
                </div>
                <div class="ui raised very padded segment">
                    <h3>Raising Code</h3>
                    <p>
                        This podcast was created to help parents and others who are learning to code along their journey.
                        I started this podcast with three of my mom developers in 4 different time zones.
                        We discuss various tools, challenges, and wins of our daily coding and parenting lives with others to hopefully inspire them to continue with their work and education in technology.
                        <br>
                        <a href="https://podcasts.apple.com/us/podcast/raising-code/id1463954568">Raising Code</a>
                    </p>
                </div>
                    <h1>Courses</h1>
                <hr>
                <div>
                    <h2>Colt Steele - Udemy</h2>
                </div>
                <div class="ui raised very padded segment">
                    <h3>Full-Stack Developer Bootcamp</h3>
                    <p>
                        This course went through the basics of various languages including HTML, CSS, jQuery, JavaScript, Node.js, Express, EJS.
                        He also covered MongoDB, Mongoose, and deploying through Heroku. I completed this course in July 2019.
                        <br>
                        <a href="https://www.udemy.com/course/the-web-developer-bootcamp/">Full Stack Developer Bootcamp</a>
                    </p>
                    <h3>The Modern React Bootcamp</h3>
                    <p>
                        I am currently working on this course. The Musicard game was a project for this course.
                        <br>
                        <a href="https://www.udemy.com/course/modern-react-bootcamp/">Full Modern React Bootcamp</a>
                    </p>
                </div>
                    <div>
                        <h2>Marcus Biel</h2>
                    </div>
                <div class="ui raised very padded segment">
                        <h3>Java Course for Beginners</h3>
                        <p>
                            I completed this course in April 2019.
                            <br>
                            <a href="https://marcus-biel.com/java-beginner-course/">Java Course for Beginners</a>
                        </p>
                </div>
                    <div>
                        <h2>Free Code Camp</h2>
                    </div>
                <div class="ui raised very padded segment">
                        <h3>Front-End Developer</h3>
                        <p>
                            I completed HTML, CSS, JavaScript, ES6 courses by June 2019.
                            <br>
                            <a href="https://www.freecodecamp.org/fcc0bafebf5-58e0-4a85-9b43-2889548d05fb">FCC</a>
                        </p>
                </div>
                </div>
            </div>
        </div>
</div>


<% include partials/footer.ejs%>