<% include partials/header.ejs%>
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

<div>
    <div class="container">
        <div class="ui raised very padded text container segment">
            <h1>Projects</h1>
            <hr>
        <div>
            <h2>Node, JavaScript, EJS, HTML, CSS, SemanticUI</h2>
        </div>
        <div class="ui raised very padded segment">
            <h3>Campground Application</h3>
            <p>
                A simple app to document and share favorite campgrounds around the world.
                <br>
                <a href="https://dry-badlands-50059.herokuapp.com/">view</a>
            </p>
        </div>
        </div>
        <div>

        </div>
    </div>
</div>

<% include partials/footer.ejs%>