body {
    margin-top: 8em;
    background-image: url("/images/Kids.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    height: 100%;
    Width: 100%;
}

h2 {
    text-align: center;
}
